
       .thumb{
        width: 100%;
        display: block;
       }
       .title{
        margin-top: 0;
        margin-bottom: 2px;
        font-size: 14px;
        font-weight: 500;
        line-height: 15px;

       }
       .who{
        color: rgb(96, 96, 96);
        font-size: 12px;
        margin-bottom: 0;
       }
       .stats{
        color: rgb(96, 96, 96);
        font-size: 12px;
        margin-top: 1px;
       }
       .grid{
        display: grid;
        grid-template-columns: 50px 1fr;
        column-gap: 0;
       }
       .channel-pic{
        width: 36px;
       }
       .profile{
        width: 100%;
        border-radius: 300px;
       }
       .thumb-row{
        margin-bottom: 8px;
        position: relative;
       }
       .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 35px;
        column-gap: 16px;
       }
       .video-link{
              color: black;
              text-decoration: none;
       }
       @media (max-width:750px){
              .video-grid{
                     grid-template-columns: 1fr 1fr;
              }
       }
       @media(min-width:751px) and (max-width:999px){
              .video-grid{
              grid-template-columns: 1fr 1fr 1fr;
              }
       }

       @media (min-width:1000px){
              .video-grid{
                     grid-template-columns: 1fr 1fr 1fr 1fr;
              }
       }
       @media (min-width:1000px){
              .title{
                     font-size: 16px;
                     line-height: 24px;
              }
       }
       @media (min-width:1000px){
              .who, .stats{
                     font-size: 14px;
              }
       }
       
       .video-info{
       margin-left: 0;
       }
       .video-time{
              background-color: black;
              color: white;
              position: absolute;
              bottom: 8px;
              right: 5px;
              border-radius: 2px;
              font-size: 12px;
              font-weight: 500;
              padding: 4px;
       }
       